@page
@model FredPortfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>These are the list of projects I have worked with.</p>

<body>
    
    <div class="minibody">
        <p>Mountain Blog Website</p>
        <a href="https://github.com/fredw24/mountainblog">Mountain</a>
    </div>
    
    <div class="minibody">
        <p>Dojo Wall Blog</p>
        <a href="https://github.com/fredw24/Wall">Wall</a>
    </div>
</body>